certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
descartes==1.1.0
dxfgrabber==1.0.1
fonttools==4.31.1
gdspy==1.6.11
hypertools==0.8.0
idna==3.3
joblib==1.1.0
kiwisolver==1.4.0
llvmlite==0.38.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
ppca==0.0.4
pynndescent==0.5.6
pyparsing==3.0.7.2
python-magic==0.4.25
pytz==2022.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Shapely==1.8.1.post1
six==1.16.0
threadpoolctl==3.1.0
tqdm==4.63.1
umap-learn==0.5.2
urllib3==1.26.9
